/* 1rem = 10px when viewport is 945px wide; all design sizes use rem from that. */
html {
    font-size: calc(10 * 100vw / 945);
}

@font-face {
    font-family: "SF Pro Text";
    src: url("SF-Pro-Text-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Text";
    src: url("SF-Pro-Text-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 400;
    background-color: #222325;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
    font-size: 3.9rem;
    line-height: 1.4;
    padding: 4.8rem 4.8rem 11rem;
    overflow: hidden;
}

.heading {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.close {
    right: 0;
    place-self: end;
    grid-area: 1/1;
    height: 10.6rem;
    width: 10.6rem;
    margin-right: -0.8rem;
    background-color: red;
    border-radius: 50%;
    /* background: gradient diagonal from 424345 to #2c2d2f to 424345; */
    background: linear-gradient(to bottom right, #494a4d, #222325, #494a4d);
    position: relative;
}

.close:after {
    content: "×";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 18rem;
    font-size: 9rem;
    font-weight: 400;
    margin-top: -0.5rem;
}

.close:before {
    content: "";
    position: absolute;
    inset: 0.3rem;
    background-color: #222325;
    border-radius: 50%;
}

.info {
    align-self: center;
    display: flex;
    gap: 10rem;
    flex-direction: column;
}

.qr {
    height: auto;
    width: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.qr img {
    border-radius: 7.9rem;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

h1,
h4 {
    font-weight: 500;
}

h1 {
    font-size: 1em;
    text-align: center;
    grid-area: 1/1;
}

.type {
    margin-right: auto;
}

.type p {
    display: flex;
    gap: 3.4rem;
    margin-top: 1rem;
}

.type span {
    font-weight: 400;
    color: #a8a9ab;
}

.type h4 {
    color: #a8a9ab;
}

.button {
    font-weight: 500;
    color: #000002;
    padding: 3.2rem;
    max-height: 12.5rem;
    display: flex;
    background-color: #f3f4f6;
    border-radius: 6.25rem;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.button img {
    max-height: 100%;
}
